{% extends 'uniforme_base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %} Cadastro Master {% endblock %}

{% block content %}

<form method="post">
    {% csrf_token %}
    
    <label for="funcionario">Funcionário:</label>
    <select name="funcionario" id="funcionario">
      {% for funcionario in funcionarios %}
        <option value="{{ funcionario.id }}">{{ funcionario.nomeRomanji }}</option>
      {% endfor %}
    </select>
    
    <h3>Itens da Solicitação</h3>
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>Uniforme</th>
            <th>Tamanho</th>
            <th>Quantidade</th>
          </tr>
        </thead>
        <tbody>
          {% for item in uniformes_agrupados %}
            {% with item.tamanhos|length as tamanho_count %}
              {% for tamanho in item.tamanhos %}
                {% if forloop.first %}
                  <tr>
                    <td rowspan="{{ tamanho_count }}">{{ item.descricao }}</td>
                    <td>
                      <select name="tamanho_{{ tamanho.uniforme.id }}" class="form-select">
                        <option value="{{ tamanho.id }}">{{ tamanho.tamanho }}</option>
                      </select>
                    </td>
                    <td>
                      <input type="number" name="quantidade_{{ tamanho.uniforme.id }}" value="0" min="0" class="form-control">
                    </td>
                  </tr>
                {% else %}
                  <tr>
                    <td>
                      <select name="tamanho_{{ tamanho.uniforme.id }}" class="form-select">
                        <option value="{{ tamanho.id }}">{{ tamanho.tamanho }}</option>
                      </select>
                    </td>
                    <td>
                      <input type="number" name="quantidade_{{ tamanho.uniforme.id }}" value="0" min="0" class="form-control">
                    </td>
                  </tr>
                {% endif %}
              {% endfor %}
            {% endwith %}
          {% endfor %}
        </tbody>
      </table>
    </div>
    
    <input type="submit" value="Enviar solicitação" class="btn btn-primary">
  </form>
  
  

{% endblock %}