{% extends 'home_base.html' %}
{% load static %}

{% block title %} Fuji ERP Home {% endblock %}

{% block content %}

    <div class="col-xl-8">
        <div class="row content-center">
            <div class="col d-flex justify-content-center">
                <img src="{% static 'img/wordcloud.png' %}" class="img-fluid img-wordcloud" alt="ERP">
            </div>

        </div>

        <hr class="my-4">

        <div class="row row-col g-4">

            <div class="col d-flex">
                {% include 'carrousel.html' %}
            </div>

        </div>
    </div>

{% endblock %}