{% extends 'cadastro_base.html' %}
{% load static %}
{% load widget_tweaks %}


{% block title %} Calendário {% endblock %}

{% block content %}

    <table class="table table-striped table-bordered">
        <thead class="table-dark">
        <tr>
            <th>Funcionário</th>
            {% for dia in dias_do_mes %}
            <th>{{ dia }}</th>
            {% endfor %}
        </tr>
        </thead >
        <tbody>
            {% regroup calendario by calendario.funcionario as funcionarios %}
            {% for funcionario in funcionarios %}
                <tr>
                    <td>{{ funcionario.grouper.calendario.funcionario }}</td>
                    {% for dia in dias_do_mes %}
                        <td class="editable" contenteditable="true" data-id="{{ funcionario.grouper.calendario.funcionario_id }}" data-data="{{ dia }}">
                            {% for dia_calendario in funcionario.list %}
                                {% if dia_calendario.data.day == dia|add:'0' %}
                                    {{ dia_calendario.posto_de_trabalho }}
                                {% endif %}
                            {% empty %}
                            {% endfor %}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>

    <script>
        $(document).ready(function() {
            $('.editable').blur(function() {
                var data_str = $(this).data('data');
                var funcionario_id = $(this).data('id');
                var posto_de_trabalho = $(this).text();
                var codigoEmpregado = $('input[name="codigoEmpregado"]').val();
                if (codigoEmpregado) {
                    $.post('editar_calendario/', {
                        'data': data_str,
                        'funcionario_id': funcionario_id,
                        'posto_de_trabalho': posto_de_trabalho,
                        'codigoEmpregado': codigoEmpregado,
                        csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
                    }).done(function() {
                        console.log('Alterações salvas com sucesso.');
                    }).fail(function() {
                        console.error('Não foi possível salvar as alterações.');
                    });
                }
    
                // Cria um objeto `moment` a partir da string `data_str`
                var data = moment(data_str, "YYYY-MM-DD");
    
                $.post('editar_calendario/', {
                    'data': data.format("YYYY-MM-DD"),
                    'funcionario_id': funcionario_id,
                    'posto_de_trabalho': posto_de_trabalho,
                    csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
                }).done(function() {
                    console.log('Alterações salvas com sucesso.');
                }).fail(function() {
                    console.error('Não foi possível salvar as alterações.');
                });
            });
        });
    </script>
    

{% endblock %}
