{% extends 'cadastro_base.html' %}
{% load static %}
{% load widget_tweaks %}


{% block title %} Calendário {% endblock %}

{% block content %}

    <div class="container">
        <h1>Calendário</h1>
    
        <a class="btn btn-primary" href="{% url 'adicionar_mes' %}">Adicionar Calendário</a>
        
        <div class="row mt-3 justify-content-center text-center">
            {% for cal in calendario %}
                    
                <div class="card m-1" style="width: 18rem;">
                    <div class="card-body">
                    <h5 class="card-title">
                        <a class="text-decoration-none" href="#">
                            {{ cal.ano }} - {{ cal.mes }}
                        </a>
                    </h5>
                    </div>
                    <ul class="list-group list-group-flush">
                    <li class="list-group-item">Kousu - </li>
                    <li class="list-group-item">Ririfu - </li>
                    </ul>
                    <div class="card-body">
                    <a href="{% url 'listar_funcionarios' cal.mes cal.ano %}" class="btn btn-primary">Funcionarios</a>
                    <a href="#" class="btn btn-danger">Excluir</a>
                    </div>
                </div>

            {% endfor %}

        </div>
    </div>

    

{% endblock %}
