{% extends 'cadastro_base.html' %}
{% load static %}
{% load widget_tweaks %}


{% block title %} Calendário - Excluir Funcionário {% endblock %}

{% block content %}

    <h2>Excluir Funcionário</h2>
    <p>Tem certeza de que deseja excluir o funcionário: {{ funcionario_calendario.funcionario }}?</p>
    <form action="{% url 'excluir_funcionario_calendario' funcionario_calendario_id=funcionario_calendario.id %}" method="POST">
        {% csrf_token %}
        <input type="submit" value="Confirmar Exclusão" class="btn btn-danger">
        <a href="{% url 'listar_funcionarios' %}" class="btn btn-secondary">Voltar</a>
    </form>

{% endblock %}