{% extends 'cadastro_base.html' %}
{% load static %}
{% load widget_tweaks %}


{% block title %} Calendário {% endblock %}

{% block content %}

    <div class="container">
        <h1>Lista de Funcionários</h1>
        <a href="{% url 'adicionar_funcionario' mes ano%}" class="btn btn-primary mb-3">Adicionar Funcionário</a>
        <table class="table table-bordered">
            <thead>
                <th>Código</th>
                <th>Funcionário</th>
                <th>和名</th>
                <td>FJ</th>
                <th>Grupo</th>
                <th>Turno</th>
                <th>Função</th>
            </thead>

            <tbody>
                {% for funcionario in funcionarios %}

                    {% if funcionario.funcionario.nomeProcesso.id != 27 and funcionario.funcionario.nomeProcesso.id != 1 %}
                    <tr>
                        <td>
                            <a class="text-decoration-none" href="{% url 'editar_funcionario_calendario' funcionario_calendario_id=funcionario.id %}">
                                {{ funcionario.funcionario.codigoEmpregado }}
                            </a>
                        </td>
                        <td class="{{ funcionario.grupo }}">{{ funcionario.funcionario.nomeRomanji }}</td>
                        <td class="{{ funcionario.estilo_ririfu }}">{{ funcionario.funcionario.nomeJapones }} </td>
                        <td class="{{ funcionario.estilo_treinador }}">{{ funcionario.funcionario.codigoCdMurata}}</td>
                        <td>{{ funcionario.grupo }}</td>
                        <td class="{{ funcionario.estilo_turno }}">{{ funcionario.funcionario.turno }}</td>
                        <td>{{ funcionario.funcionario.nomeProcesso }}</td>
                    </tr>
                    {% endif %}

                {% endfor %}

                <tr class="bg-space">
                    <td colspan="7"></td>
                </tr>

                {% for funcionario in funcionarios %}

                    {% if funcionario.funcionario.nomeProcesso.id == 27 %}
                    <tr>
                        <td>
                            <a class="text-decoration-none" href="{% url 'editar_funcionario_calendario' funcionario_calendario_id=funcionario.id %}">
                                {{ funcionario.funcionario.codigoEmpregado }}</td>
                            </a>
                        <td class="{{ funcionario.estilo_grupo }}">{{ funcionario.funcionario.nomeRomanji }}</td>
                        <td class="{{ funcionario.estilo_ririfu }}">{{ funcionario.funcionario.nomeJapones }} </td>
                        <td class="{{ funcionario.estilo_treinador }}">{{ funcionario.funcionario.codigoCdMurata}}</td>
                        <td>{{ funcionario.grupo }}</td>
                        <td class="{{ funcionario.estilo_turno }}">{{ funcionario.funcionario.turno }}</td>
                        <td>{{ funcionario.funcionario.nomeProcesso }}</td>
                    </tr>
                    {% endif %}

                {% endfor %}

                <tr class="bg-space">
                    <td colspan="7"></td>
                </tr>

                {% for funcionario in funcionarios %}

                    {% if funcionario.funcionario.nomeProcesso.id == 1 %}
                    <tr>
                        <td>
                            <a class="text-decoration-none" href="{% url 'editar_funcionario_calendario' funcionario_calendario_id=funcionario.id %}">
                                {{ funcionario.funcionario.codigoEmpregado }}</td>
                            </a>
                        <td class="{{ funcionario.estilo_grupo }}">{{ funcionario.funcionario.nomeRomanji }}</td>
                        <td class="{{ funcionario.estilo_ririfu }}">{{ funcionario.funcionario.nomeJapones }} </td>
                        <td class="{{ funcionario.estilo_treinador }}">{{ funcionario.funcionario.codigoCdMurata}}</td>
                        <td>{{ funcionario.grupo }}</td>
                        <td class="{{ funcionario.estilo_turno }}">{{ funcionario.funcionario.turno }}</td>
                        <td>{{ funcionario.funcionario.nomeProcesso }}</td>
                    </tr>
                    {% endif %}

                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}