{% extends 'cadastro_base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %} Cadastro Master {% endblock %}

{% block content %}

    <div class="container">
        <div class="main">
            <div class="py-4 text-center">
                <h2>Detalhes Master</h2>
            </div>

            <div class="row g-5 justify-content-center">
                <div class="col-xl-6 col-md-6">

                    <div class="row position-relative">
                        <div class="col text-end"><h5>Código Empregado:</h5></div>
                        <div class="col">{{ master.codigoEmpregado }}</div>
                    </div>

                    <div class="row position-relative">
                        <div class="col text-end"><h5>和名:</h5></div>
                        <div class="col">{{ master.nomeJapones }}</div>
                    </div>

                    <div class="row position-relative">
                        <div class="col text-end"><h5>Nome:</h5></div>
                        <div class="col">{{ master.nomeRomanji }}</div>
                    </div>

                    <div class="row position-relative">
                        <div class="col text-end"><h5>Data de Início:</h5></div>
                        <div class="col">{{ master.dataInicioUnidade }}</div>
                    </div>

                    <div class="row position-relative">
                        <div class="col text-end"><h5>Data de Desligamento:</h5></div>
                        <div class="col">{{ master.dataDesligamentoUnidade }}</div>
                    </div>

                    <div class="row position-relative">
                        <div class="col text-end"><h5>Data de Aposentadoria:</h5></div>
                        <div class="col">{{ master.dataDAposentadoria }}</div>
                    </div>

                    <div class="row position-relative">
                        <div class="col text-end"><h5>Obs:</h5></div>
                        <div class="col">{{ master.observacoes }}</div>
                    </div>

                    <div class="row position-relative">
                        <div class="col text-end"><h5>Genero:</h5></div>
                        <div class="col">{{ master.genero }}</div>
                    </div>

                    <div class="row position-relative">
                        <div class="col text-end"><h5>Sexo:</h5></div>
                        <div class="col">{{ master.sexo }}</div>
                    </div>

                    <div class="row position-relative">
                        <div class="col text-end"><h5>Turno:</h5></div>
                        <div class="col">{{ master.turno }}</div>
                    </div>

                    <div class="row position-relative">
                        <div class="col text-end"><h5>Código CD:</h5></div>
                        <div class="col">{{ master.cdLocalIntegrado }}</div>
                    </div>

                    <div class="row position-relative">
                        <div class="col text-end"><h5>Código Classificação:</h5></div>
                        <div class="col">{{ master.codigoClassificacaoPreco }}</div>
                    </div>

                    <div class="row position-relative">
                        <div class="col text-end"><h5>Local Trabalho:</h5></div>
                        <div class="col">{{ master.codigoLocalTrabalho }}</div>
                    </div>

                    <div class="row position-relative">
                        <div class="col text-end"><h5>País Origem:</h5></div>
                        <div class="col">{{ master.paisCidadania }}</div>
                    </div>

                    <div class="row position-relative">
                        <div class="col text-end"><h5>Salário Hr:</h5></div>
                        <div class="col">{{ master.salarioHR }}</div>
                    </div>

                    <div class="row position-relative">
                        <div class="col text-end"><h5>Nova Data Chegada:</h5></div>
                        <div class="col">{{ master.novaDataChegada }}</div>
                    </div>

                    <div class="row position-relative">
                        <div class="col text-end"><h5>Preço Unitário:</h5></div>
                        <div class="col">{{ master.precoUnitario }}</div>
                    </div>

                    <div class="row position-relative">
                        <div class="col text-end"><h5>Reentrada:</h5></div>
                        <div class="col">{{ master.reentrada }}</div>
                    </div>

                    <div class="row position-relative">
                        <div class="col text-end"><h5>Data Ingressão FA:</h5></div>
                        <div class="col">{{ master.dataIngressaoFA }}</div>
                    </div>

                    <div class="row position-relative">
                        <div class="col text-end"><h5>Nome Empresa:</h5></div>
                        <div class="col">{{ master.nomeEmpresa }}</div>
                    </div>

                    <div class="row position-relative">
                        <div class="col text-end"><h5>Nome Kana:</h5></div>
                        <div class="col">{{ master.nomeKana }}</div>
                    </div>

                    <div class="row position-relative">
                        <div class="col text-end"><h5>Nome Processo:</h5></div>
                        <div class="col">{{ master.nomeProcesso }}</div>
                    </div>

                    <div class="row position-relative">
                        <div class="col text-end"><h5>Código Murata:</h5></div>
                        <div class="col">{{ master.codigoCdMurata }}</div>
                    </div>

                    <div class="row position-relative">
                        <div class="col text-end"><h5>Empregado Final Mês:</h5></div>
                        <div class="col">{{ master.empregadoFinalMes }}</div>
                    </div>

                    <div class="row position-relative">
                        <div class="col text-end"><h5>Andar Trabalho:</h5></div>
                        <div class="col">{{ master.andarPredioTrabalho }}</div>
                    </div>

                    <div class="row position-relative">
                        <div class="col text-end"><h5>Classificação Contrto:</h5></div>
                        <div class="col">{{ master.classificacaoContrato }}</div>
                    </div>

                    <div class="row position-relative">
                        <div class="col text-end"><h5>Categoria Gerente:</h5></div>
                        <div class="col">{{ master.categoriaGerente }}</div>
                    </div>

                    <div class="row position-relative">
                        <div class="col text-end"><h5>Afiliação:</h5></div>
                        <div class="col">{{ master.afiliacao }}</div>
                    </div>

                    <div class="row position-relative">
                        <div class="col text-end"><h5>Código ORDIA:</h5></div>
                        <div class="col">{{ master.codigoORDIA }}</div>
                    </div>

                    <div class="row position-relative">
                        <div class="col text-end"><h5>Data Início Trabalho:</h5></div>
                        <div class="col">{{ master.dataInicioTrabalhoExpedicao }}</div>
                    </div>

                    <div class="row position-relative">
                        <div class="col text-end"><h5>Código Funcionário CD:</h5></div>
                        <div class="col">{{ master.codigoFuncionarioCD }}</div>
                    </div>

                    <div class="row position-relative">
                        <div class="col text-end"><h5>Escritório:</h5></div>
                        <div class="col">{{ master.codigoEscritorio }}</div>
                    </div>

                    <div class="row position-relative">
                        <div class="col text-end"><h5>Salário Bruto:</h5></div>
                        <div class="col">{{ master.salarioBrutoHR }}</div>
                    </div>

                    <div class="row position-relative">
                        <div class="col text-end"><h5>Entrada Categoria:</h5></div>
                        <div class="col">{{ master.entradaCategoria }}</div>
                    </div>

                    <div class="row position-relative">
                        <div class="col text-end"><h5>DAO:</h5></div>
                        <div class="col">{{ master.dao }}</div>
                    </div>

                    <div class="row position-relative">
                        <div class="col text-end"><h5>Categoria Recrutamento:</h5></div>
                        <div class="col">{{ master.categoriaRecrutamento }}</div>
                    </div>

                    <div class="row position-relative">
                        <div class="col text-end"><h5>Quantia Paga:</h5></div>
                        <div class="col">{{ master.quantiaPaga }}</div>
                    </div>
                    
                    <div class="row position-relative">
                        <div class="col text-end"><h5>IC Card:</h5></div>
                        <div class="col">{{ master.icCard }}</div>
                    </div>
                    
                    <div class="row position-relative">
                        <div class="col text-end"><h5>Unidade Carga:</h5></div>
                        <div class="col">{{ master.unidadeCard }}</div>
                    </div>
                    
                    <div class="row position-relative">
                        <div class="col text-end"><h5>Número AS:</h5></div>
                        <div class="col">{{ master.numeroAs }}</div>
                    </div>
                    
                    <div class="row position-relative">
                        <div class="col text-end"><h5>Classificação Contrato:</h5></div>
                        <div class="col">{{ master.classificacaoContrato }}</div>
                    </div>
                    
                    <div class="row position-relative">
                        <div class="col text-end"><h5>Data Converão:</h5></div>
                        <div class="col">{{ master.dataConversao }}</div>
                    </div>
                    
                    <div class="row position-relative">
                        <div class="col text-end"><h5>Foto:</h5></div>
                        <div class="col">{{ master.foto }}</div>
                    </div>



                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col text-center mt-2">
                    <a href="#" class="btn btn-primary">Editar</a>
                    <a href="#" class="btn btn-danger">Excluir</a>
                    <a href="{% url 'listar_mt' %}" class="btn btn-secondary">Voltar</a>
                </div>
            </div>

        </div>
    </div>

{% endblock %}