{% extends 'cadastro_base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}Editar Master Apartamento{% endblock %}

{% block content %}
<div class="container">
  <div class="main">
    <div class="py-4 text-center">
      <h2>Editar MT Apto</h2>
    </div>

    <div class="row g-5 justify-content-center">
      <div class="col-xl-6 col-md-6">
        <form action="{% url 'editar_master_apto' numero_apto=mt_apto.numero %}" method="POST" enctype="multipart/form-data">
          {% csrf_token %}

          <div class="row g-3">
            {% for field in form %}
            <div class="col-sm-6">
                <label class="form-label">{{ field.label }}</label>
                {{ field }}
            </div>
            {% endfor %}
        </div>
          <div class="mt-3"></div>

          <div id="button_submit" class="justify-content-center">
            <button class="btn btn-primary" type="submit">Salvar</button>
            <a href="{% url 'listar_mt_apto' %}" class="btn btn-secondary" type="submit">Voltar</a href="{% url 'listar_mt_apto' %}">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}