{% extends 'space_base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %} Space {% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar">
                <div class="position-sticky pt-3">
                    <ul class="nav flex-column">
                        {% for tema in temas %}
                            <li class="nav-item">
                                <button class="btn btn-toggle align-items-center rounded" data-bs-toggle="collapse" data-bs-target="#collapse-{{ forloop.counter }}" aria-expanded="false">
                                    {{ tema.nome }}
                                    {% for topico in tema.topico_set.all %}
                                        {% for mensagem in mensagens_nao_lidas %}
                                            {% if mensagem.mensagem__topico == topico.id %}
                                                <span class="text-warning">
                                                    <i class="fa-solid fa-circle-exclamation"></i>
                                                </span>
                                            {% endif %}
                                        {% endfor %}
                                    {% endfor %}
                                </button>
                                <div class="collapse" id="collapse-{{ forloop.counter }}">
                                    <div class="row">
                                        <div class="col-12">
                                            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 ms-4 small">
                                                {% for topico in tema.topico_set.all %}
                                                <li>
                                                    <a href="{% url 'conteudo_topico' space_id=space_id tema_id=topico.id %}" class="link-dark text-decoration-none">
                                                        {{ topico.topico }}
                                                        {% for mensagem in mensagens_nao_lidas %}
                                                            {% if mensagem.mensagem__topico == topico.id %}
                                                                <span class="badge bg-warning">{{ mensagem.qtd_mensagens_nao_lidas }}</span>
                                                            {% endif %}
                                                        {% endfor %}
                                                    </a>
                                                </li>
                                                
                                                {% empty %}
                                                    <li>No topics found</li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </nav>

            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                <div class="row justify-content-center">
            
                    <h1>{{ topico.tema }}</h1>
                    <h4>{{ topico.topico }}</h4>
                    <span>{{ topico.descricao }}</span>
    
                    <div class="message-list">
        
                        <div class="row mt-3">
                            <form method="POST" action="{% url 'conteudo_topico' space_id tema_id %}">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label for="mensagem">Nova Mensagem</label>
                                    <textarea class="form-control" id="mensagem" name="mensagem" rows="3" required></textarea>
                                </div>
                                <button type="submit" class="btn btn-primary mt-3" id="enviar-btn">Enviar</button>
                            </form>
                            
                        </div>
        
                        {% for mensagem in mensagens %}
                        <hr class="border-top my-3" style="border-width: 3px;">
                            <div class="row d-flex align-items-start">
                                <div class="col flex-grow-0">
                                    <p>{{ topico.usuario.last_name }}</p>
                                </div>
                                <div class="col flex-grow-1">
                                    <p class="fw-lighter"><i class="fa-solid fa-calendar-days"></i> {{ mensagem.data_hora_criacao }}</p>
                                </div>
                            </div>
        
                            <div class="row mt-2">
                                <p>
                                    {{ mensagem.mensagem }} {{ mensagem.foi_lida }}
                                </p>
                                
                            </div>
                            <div class="row">
                                <div class="d-flex align-items-center">
                                    {% if mensagem.lida %}
                                        <i class="fa-solid fa-book-open text-muted me-2"></i>
                                    {% else %}
                                        <a href="{% url 'marcar_mensagem_lida' mensagem.topico.tema.space_id mensagem.topico.id mensagem.id %}">
                                            <i class="fa-solid fa-book text-warning me-2"></i>
                                        </a>
                                    {% endif %}
                                    <a href="#" class="mostrar-formulario-link" data-formulario="formulario-{{ mensagem.id }}">
                                        <i class="fa-solid fa-comment-dots text-dark"></i>
                                    </a>
                                </div>
                            </div>
                            <div id="formulario-{{ mensagem.id }}" class="container formulario m-2" style="display: none;">
                                <div class="row">

                                    <div class="col">
                                        <form method="POST" action="{% url 'conteudo_topico' space_id tema_id %}">
                                            {% csrf_token %}
                                            <div class="form-group">
                                                <label for="mensagem">Nova Mensagem</label>
                                                <textarea class="form-control" id="mensagem" name="mensagem" rows="3" required></textarea>
                                            </div>
                                            <button type="submit" class="btn btn-primary mt-3" id="enviar-btn">Enviar</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            
                            
                        {% empty %}
                        <div class="row mt-2">
                            <p class="fw-lighter">
                                <i class="fa-solid fa-xmark"></i>
                                No messages found
                            </p>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </main>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>
        $(document).ready(function () {
            $(".mostrar-formulario-link").click(function () {
                var formularioID = $(this).data("formulario");
                $("#" + formularioID).toggle();
            });
        });
    </script>
    

{% endblock %}
