    <div class="container">
        <div class="row justify-content-center">
            
                <h1>{{ topico.tema }}</h1>
                <h4>{{ topico.topico }}</h4>
                <span>{{ topico.descricao }}</span>

            <div class="message-list">

                <div class="row mt-3">
                    <form method="POST" action="{% url 'lista_tema' topico.id %}">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="mensagem">Nova Mensagem</label>
                            <textarea class="form-control" id="mensagem" name="mensagem" rows="3" required></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary mt-3">Enviar</button>
                    </form>
                </div>

                {% for mensagem in mensagens %}
                <hr class="border-top my-3" style="border-width: 3px;">
                    <div class="row">
                        <p>
                            {{ topico.usuario.last_name }}
                            <p class="fw-lighter"><i class="fa-solid fa-calendar-days"></i> {{ mensagem.data_hora_criacao }}</p>
                        </p>
                    </div>

                    <div class="row mt-2">
                        <p>
                            {{ mensagem.mensagem }}
                        </p>
                    </div>
                {% empty %}
                <div class="row mt-2">
                    <p class="fw-lighter">
                        <i class="fa-solid fa-xmark"></i>
                        No messages found
                    </p>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>