{% extends 'space_base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %} Space {% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar">
                <div class="position-sticky pt-3">
                    <ul class="nav flex-column">
                        {% for tema in temas %}
                            <li class="nav-item">
                                <button class="btn btn-toggle align-items-center rounded" data-bs-toggle="collapse" data-bs-target="#collapse-{{ forloop.counter }}" aria-expanded="false">
                                    {{ tema.nome }}
                                </button>
                                <div class="collapse" id="collapse-{{ forloop.counter }}">
                                    <div class="row">
                                        <div class="col-12">
                                            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 ms-4 small">
                                                {% for topico in tema.topico_set.all %}
                                                <li>
                                                    <a href="{% url 'lista_tema' tema_id=topico.id %}" class="link-dark text-decoration-none" hx-get="{% url 'lista_tema' topico.id %}" hx-target="#conteudo-topico" hx-trigger="click">
                                                        {{ topico.topico }}
                                                    </a>
                                                </li>
                                                
                                                {% empty %}
                                                    <li>No topics found</li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </nav>

            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                {% block conteudo_topico %}
                    <div id="conteudo-topico" hx-swap-oob="true">
                        <!-- O conteúdo do tópico será carregado aqui -->
                    </div>
                {% endblock %}
            </main>
        </div>
    </div>
{% endblock %}
