{% extends 'space_base.html' %}
{% load static %}
{% load widget_tweaks %}


{% block title %} Space {% endblock %}

{% block content %}

    <div class="container">
        <div class="row justify-content-center">
            <h1 class="text-center">Space</h1>

            <div class="card mt-3" style="width: 18rem;">
                <ul class="list-group list-group-flush">
                    {% for space in spaces %}
                        <li class="list-group-item">
                            <a class="text-decoration-none" href="{% url 'lista_space' space.id %}">
                                <div class="row d-flex">
                                    <div class="col">
                                        {{ space }}
                                    </div>
                                    <div class="col-auto align-self-center">
                                        {% if mensagens_nao_lidas > 0 %}
                                            <span class="text-warning">
                                                <i class="fa-solid fa-circle-exclamation"></i>
                                            </span>
                                        {% endif %}
                                    </div>
                                </div>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

{% endblock %}
