<nav class='navbar navbar-expand-lg navbar-dark bg-dark'>
    <div class='container-fluid px-0'>
        <a href="{% url 'home' %}" class='navbar-brand'>Fuji ERP</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                <li class="nav-item dropdown my-auto">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarCadastro" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Cadastro
                      </a>
                      <ul class="dropdown-menu" aria-labelledby="navbarCadastro">
                        <li><a class="dropdown-item" href="#">Funcionarios</a></li>
                        <li><a class="dropdown-item" href="{% url 'cadastro_master' %}">MT</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Dados</a></li>
                      </ul>
                </li>

                <li class="nav-item my-auto">
                    <a class="nav-link" href="#">Relatórios</a>
                </li>

                <li class="nav-item dropdown my-auto">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarCalendario" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Calendário
                      </a>
                      <ul class="dropdown-menu" aria-labelledby="navbarCalendario">
                        <li><a class="dropdown-item" href="#">Calendário</a></li>
                        <li><a class="dropdown-item" href="#">Haidai</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Dados</a></li>
                      </ul>
                </li>

                <li class="nav-item my-auto">
                    <a class="nav-link" href="#">Login</a>
                </li>
            </ul>
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-warning" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>